<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/media/media_header.css">
<header>
    <div class="main-container">
        <div class="heading">
            <p id="main-heading"><b>Employee Review System</b></p>
            <%if(locals.user){%>
                <p><a href="/">Home</a></p>
                <p><a href="/reviews">Reviews</a></p>
                <%if(locals.user.isAdmin){%>
                    <a href="/user/adminView">Admin view</a>    
                <%}%>
            <%}%>
        </div>
        <div class="links-container">
            <div class="links">
                <%if(locals.user){%>
                    <span><%= user.name%></span>
                    <a href="/user/sign-out">Sign Out</a>
                <%}else{%>
                    <a href="/user/sign-in">Sign-in</a>
                    <a href="/user/sign-up">Sign-up</a>
                <%}%>
            </div>
        </div>
    </div>
</header>