<link rel="stylesheet" href="/css/header.css">
<header>
    <div class="main-container">
        <div class="heading">
            <p><b>Employee Review System</b></p>
        </div>
        <div class="links-container">
            <div class="links">
                <a href="#">Sign-in</a>
                <a href="#">Sign-up</a>
            </div>
        </div>
        
    </div>
</header>