<link rel="stylesheet" href="/css/home.css">

<div class="main-container" style="width: 90vw; height: 80vh; display: flex; justify-content: center; align-items: center; margin: auto;" >
    <h1>Welcome to Employee Review System</h1>
</div>

