<link rel="stylesheet" href="/css/user_signin.css">
<div class="form-container">
    <form action="/user/create-session" method="post">
        <label class="form-label" for="name">Email</label>
        <input class="form-control" type="email" name="email" id="email" placeholder="Your Email" required>
    
        <label class="form-label" for="name">Password</label>
        <input class="form-control" type="password" name="password" id="password" placeholder="Your password" required>

        <button type="submit" class="btn btn-primary m-2">Sign Up</button>
    </form>
</div>