<h1>
    This is User Profile Page
</h1>
<h1>
    This is User Profile Page
</h1>

<p><%= locals.user.name%></p>
<p><%= locals.user.email%></p>
<a style="color: blue;" href="/user/sign-out">Signout</a>