.body-container{
    margin-top: 1rem;
    padding: 5rem 2rem;
}
.review-main-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: cyan;
    border-radius: 1rem;
    height: 300px;
    overflow: auto;
}

.review-main-container::-webkit-scrollbar{
    display: none;
}

.review-container{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: auto;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0px 0px 19px 0px lightgrey;
    border-radius: 1rem;
    background-color: cornsilk;
}
.review-container a{
    text-decoration: none;
    margin: auto;
}

.review-container-info{
    background-color: #4d4d73;
    color: white; 
    border: 1px solid white; 
    padding: 1rem; 
    border-radius: 1rem;
}