.review-form-container{
    width: fit-content;
    height: auto;
    padding: 1rem;
    margin: 2rem auto;
    border-radius: 1rem;
    box-shadow: 0px 0px 19px 0px lightgrey;
}
.inner-form-element{
    display: flex;
    flex-direction: column;
}
.inputcontainer{
    display: flex;
}